<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="GameService.GameService" behaviorConfiguration="mexBehavior">
        <endpoint address="net.tcp://localhost:8200/MyGameService" binding="netTcpBinding" contract="Contracts.IGameService">
        </endpoint>
      </service>
    </services>
    <client>
      <endpoint name="DBServiceEndpoint" address="http://localhost:8100/MyDBservice" binding="basicHttpBinding" contract="Contracts.IDbService"></endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
