<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="GameServiceEndpoint" address="net.tcp://localhost:8200/MyGameService" binding="netTcpBinding" contract="Contracts.IGameService"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
